body{
    font-family: 'Prompt', sans-serif;
    color: white;
    background-color: rgb(3, 3, 3);
    text-align: center;
    text-decoration: none;
}
h1,h2{
    color: #000000;
}
nav{
    background-color: #B0BEC5;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: -50px;
}
.pj{
    margin-bottom: 50px;
    font-size: 25px;
}
a{
    color: #000000;
    text-decoration: none;
}
.about h2{
    font-size:40px;
    color: white;
    width: 1170px;
}
.about p{
    font-size: 17px;
    color: white;
    width: 1795px;
}
.hrtt{
    color:#000000;
    font-size: 21px;
    font-weight: bold;
    display: inline-block;
}
.hr {
    max-width: 700px;
    margin: 45px auto 10px ;
    text-align: center;
    width: 800px;
    color: #000000;
    padding: 10px;
    border-radius: 16px;
    display: block;
    box-shadow: 0 3px 15px LightGray;
    background-color: #B0BEC5
}
.hrt{
    max-width: 700px;
    margin: 50px auto 100px;
    text-align: center;
    width: 800px;
    color: #000000;
    padding: 10px;
    border-radius: 16px;
    display: block;
    box-shadow: 0 3px 15px LightGray;
    background-color: #B0BEC5
}
footer{
    margin: 10px auto;
    background-color: #B0BEC5;
    padding: 5px;
    color: #000000;
    text-align: center;
    border-radius: 5px;
}
.seo{
    font-size: 15px;
    width: -1px;
    text-align: right;
}